<div class="panel panel-default">
		<div class="panel-heading">Visualización de logs</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped">
					<tr>
						<th>User ID</th>
						<th>Controller</th>
						<th>Action</th>
						<th>Details</th>
						<th>Date</th>
					</tr>
					<% var i; for (i=0; i < logs.length; i++) { %>
						<tr>
							<td><%= logs[i].userID %></td>
							<td><%= logs[i].controller %></td>
							<td><%= logs[i].action %></td>
							<td><%= logs[i].details %></td>
							<td><%= logs[i].createdAt %></td>
						</tr>
					<% } %>
				</table>
			</div>
		</div>
	</div>