
<div class="row">
<div class="bg-info"><br>
	<p>Aquí puedes seleccionar las asignaturas que pretendes cursar el próximo año académico.</p>
	<p>Una vez seleccionadas, cambiarán de color: verde, si hay plazas libres, o rojo, si el número de alumnos inscritos es superior al número de plazas.</p>
	<p>De esta manera, podrás hacerte una idea de la demanda que hay para cada asignatura.</p>
	<p>Cuantos más alumnos participen, mejor será la información que recibamos todos.</p><br>
</div>

<div>
	<p><b>Enlaces de interés</b></p>
	<a href="http://www.ehu.eus/documents/340468/4166549/curso_2_maila.pdf">Horario Segundo Curso</a></br>
	<a href="http://www.ehu.eus/documents/340468/4166549/3_maila_Konputagailuen_Ingeniaritza.pdf">Horario Tercer Curso: Ingeniería de Computadores (IC)</a></br>
	<a href="http://www.ehu.eus/documents/340468/4166549/3_maila_Konputazioa.pdf">Horario Tercer Curso: Computación (C)</a></br>
	<a href="http://www.ehu.eus/documents/340468/4166549/3_maila_Software_Ingeniaritza.pdf">Horario Tercer Curso: Ingeniería del Software (IS)</a></br>
	<a href="http://www.ehu.eus/documents/340468/4166549/hautazkoak_Graduan+4_maila.pdf">Horario Cuarto Curso: Optativas</a></br>
	<a href="http://www.ehu.eus/documents/340468/4166549/ORD-bateragarritasuna-15-16.pdf">Tabla de Incompatibilidad Horaria</a>
</div>

</div>
<div class="table-responsive">
<div><h2>Tabla de Asignaturas</h2></div>
<table class="table">
	<tr>
		<th rowspan="2">Nombre del curso</th>
		<th rowspan="2">Curso</th>
		<th rowspan="2">Cuatrimestre</th>
		<th rowspan="2">Especialización</th>
		<th rowspan="2">Créditos</th>
		<th rowspan="2">Plazas</th>
		<th colspan="3">Alumnos inscritos</th>
		<th rowspan="2">Detalles</th>
		<th rowspan="2">Apuntarse</th>
	</tr>
	<tr>
		<th>2º</th>
		<th>3º</th>
		<th>4º</th>
	</tr>
<tr><td colspan="4"><hr></td><td colspan="5">3º - 1 cuatrimestre - Ingeniería del Software</td><td colspan="2"><hr></td></tr>
<% var i; for (i=0; i<courses.length; i++) { %>
	<% if(courses[i].year == "3º" && courses[i].semester == "1º" && courses[i].specialisation == "IS"){ %>
			<% 	var inscritos=[0, 0, 0, 0, 0];
				for (var k=0; k<courses[i].Students.length; k++) {
					inscritos[courses[i].Students[k].year]++;
				}
				var esta=false;

				var pos=0;
		 		var c; for (c=0; c< userCourses.length; c++) {
				if (userCourses[c].CourseId== courses[i].id) {
					esta=true;
					pos=c;
				 }
			 }

			 if (esta) {
			 	if (courses[i].Students.length > courses[i].vacancies){ %>
					<tr class="alert alert-danger">
				<% }else  {%>
					<tr class="alert alert-success">
				<% } %>
			<% }else{ %>
				<tr class="alert alert-info">
			<% } %>


			<td><%=courses[i].name%></td>
			<td><%=courses[i].year%></td>
			<td><%=courses[i].semester%></td>
			<td><%=courses[i].specialisation%></td>
			<td><%=courses[i].credits%></td>
			<td><%=courses[i].vacancies%></td>
			<td><%=inscritos[2]%></td>
			<td><%=inscritos[3]%></td>
			<td><%=inscritos[4]%></td>
			<td><%=courses[i].description%></td>
			<td><form action="/students/manageCourses" method="POST">
				<input type="hidden" name="courseID" value="<%=courses[i].id%>"/>
			<% if (esta) { %>
				<input type="hidden" name="add" value="no"/>
				<button class="btn btn-default" type="submit">Descartar</button>
			<% }else{ %>
				<input type="hidden" name="add" value="yes"/>
				<button class="btn btn-default" type="submit">Seleccionar</button>
			<% } %>
			</form></td>
		</tr>
	<% } %>
<% } %>
<tr><td colspan="4"><hr></td><td colspan="5">3º - 1 cuatrimestre - Ingeniería de Computadores</td><td colspan="2"><hr></td></tr>
<% var i; for (i=0; i<courses.length; i++) { %>
	<% if(courses[i].year == "3º" && courses[i].semester == "1º" && courses[i].specialisation == "IC"){ %>
			<% 	var inscritos=[0, 0, 0, 0, 0];
				for (var k=0; k<courses[i].Students.length; k++) {
					inscritos[courses[i].Students[k].year]++;
				}
				var esta=false;

				var pos=0;
		 		var c; for (c=0; c< userCourses.length; c++) {
				if (userCourses[c].CourseId== courses[i].id) {
					esta=true;
					pos=c;
				 }
			 }

			 if (esta) {
			 	if (courses[i].Students.length > courses[i].vacancies){ %>
					<tr class="alert alert-danger">
				<% }else  {%>
					<tr class="alert alert-success">
				<% } %>
			<% }else{ %>
				<tr class="alert alert-info">
			<% } %>


			<td><%=courses[i].name%></td>
			<td><%=courses[i].year%></td>
			<td><%=courses[i].semester%></td>
			<td><%=courses[i].specialisation%></td>
			<td><%=courses[i].credits%></td>
			<td><%=courses[i].vacancies%></td>
			<td><%=inscritos[2]%></td>
			<td><%=inscritos[3]%></td>
			<td><%=inscritos[4]%></td>
			<td><%=courses[i].description%></td>
			<td><form action="/students/manageCourses" method="POST">
				<input type="hidden" name="courseID" value="<%=courses[i].id%>"/>
			<% if (esta) { %>
				<input type="hidden" name="add" value="no"/>
				<button class="btn btn-default" type="submit">Descartar</button>
			<% }else{ %>
				<input type="hidden" name="add" value="yes"/>
				<button class="btn btn-default" type="submit">Seleccionar</button>
			<% } %>
			</form></td>
		</tr>
	<% } %>
<% } %>
<tr><td colspan="4"><hr></td><td colspan="5">3º - 1 cuatrimestre - Computación</td><td colspan="2"><hr></td></tr>
<% var i; for (i=0; i<courses.length; i++) { %>
	<% if(courses[i].year == "3º" && courses[i].semester == "1º" && courses[i].specialisation == "C"){ %>
			<% 	var inscritos=[0, 0, 0, 0, 0];
				for (var k=0; k<courses[i].Students.length; k++) {
					inscritos[courses[i].Students[k].year]++;
				}
				var esta=false;

				var pos=0;
		 		var c; for (c=0; c< userCourses.length; c++) {
				if (userCourses[c].CourseId== courses[i].id) {
					esta=true;
					pos=c;
				 }
			 }

			 if (esta) {
			 	if (courses[i].Students.length > courses[i].vacancies){ %>
					<tr class="alert alert-danger">
				<% }else  {%>
					<tr class="alert alert-success">
				<% } %>
			<% }else{ %>
				<tr class="alert alert-info">
			<% } %>


			<td><%=courses[i].name%></td>
			<td><%=courses[i].year%></td>
			<td><%=courses[i].semester%></td>
			<td><%=courses[i].specialisation%></td>
			<td><%=courses[i].credits%></td>
			<td><%=courses[i].vacancies%></td>
			<td><%=inscritos[2]%></td>
			<td><%=inscritos[3]%></td>
			<td><%=inscritos[4]%></td>
			<td><%=courses[i].description%></td>
			<td><form action="/students/manageCourses" method="POST">
				<input type="hidden" name="courseID" value="<%=courses[i].id%>"/>
			<% if (esta) { %>
				<input type="hidden" name="add" value="no"/>
				<button class="btn btn-default" type="submit">Descartar</button>
			<% }else{ %>
				<input type="hidden" name="add" value="yes"/>
				<button class="btn btn-default" type="submit">Seleccionar</button>
			<% } %>
			</form></td>
		</tr>
	<% } %>
<% } %>
<tr><td colspan="4"><hr></td><td colspan="5">3º - 2 cuatrimestre - Ingeniería del Software</td><td colspan="2"><hr></td></tr>
<% var i; for (i=0; i<courses.length; i++) { %>
	<% if(courses[i].year == "3º" && courses[i].semester == "2º" && courses[i].specialisation == "IS"){ %>
			<% 	var inscritos=[0, 0, 0, 0, 0];
				for (var k=0; k<courses[i].Students.length; k++) {
					inscritos[courses[i].Students[k].year]++;
				}
				var esta=false;

				var pos=0;
		 		var c; for (c=0; c< userCourses.length; c++) {
				if (userCourses[c].CourseId== courses[i].id) {
					esta=true;
					pos=c;
				 }
			 }

			 if (esta) {
			 	if (courses[i].Students.length > courses[i].vacancies){ %>
					<tr class="alert alert-danger">
				<% }else  {%>
					<tr class="alert alert-success">
				<% } %>
			<% }else{ %>
				<tr class="alert alert-info">
			<% } %>


			<td><%=courses[i].name%></td>
			<td><%=courses[i].year%></td>
			<td><%=courses[i].semester%></td>
			<td><%=courses[i].specialisation%></td>
			<td><%=courses[i].credits%></td>
			<td><%=courses[i].vacancies%></td>
			<td><%=inscritos[2]%></td>
			<td><%=inscritos[3]%></td>
			<td><%=inscritos[4]%></td>
			<td><%=courses[i].description%></td>
			<td><form action="/students/manageCourses" method="POST">
				<input type="hidden" name="courseID" value="<%=courses[i].id%>"/>
			<% if (esta) { %>
				<input type="hidden" name="add" value="no"/>
				<button class="btn btn-default" type="submit">Descartar</button>
			<% }else{ %>
				<input type="hidden" name="add" value="yes"/>
				<button class="btn btn-default" type="submit">Seleccionar</button>
			<% } %>
			</form></td>
		</tr>
	<% } %>
<% } %>
<tr><td colspan="4"><hr></td><td colspan="5">3º - 2 cuatrimestre - Ingeniería de Computadores</td><td colspan="2"><hr></td></tr>
<% var i; for (i=0; i<courses.length; i++) { %>
	<% if(courses[i].year == "3º" && courses[i].semester == "2º" && courses[i].specialisation == "IC"){ %>
			<% 	var inscritos=[0, 0, 0, 0, 0];
				for (var k=0; k<courses[i].Students.length; k++) {
					inscritos[courses[i].Students[k].year]++;
				}
				var esta=false;

				var pos=0;
		 		var c; for (c=0; c< userCourses.length; c++) {
				if (userCourses[c].CourseId== courses[i].id) {
					esta=true;
					pos=c;
				 }
			 }

			 if (esta) {
			 	if (courses[i].Students.length > courses[i].vacancies){ %>
					<tr class="alert alert-danger">
				<% }else  {%>
					<tr class="alert alert-success">
				<% } %>
			<% }else{ %>
				<tr class="alert alert-info">
			<% } %>


			<td><%=courses[i].name%></td>
			<td><%=courses[i].year%></td>
			<td><%=courses[i].semester%></td>
			<td><%=courses[i].specialisation%></td>
			<td><%=courses[i].credits%></td>
			<td><%=courses[i].vacancies%></td>
			<td><%=inscritos[2]%></td>
			<td><%=inscritos[3]%></td>
			<td><%=inscritos[4]%></td>
			<td><%=courses[i].description%></td>
			<td><form action="/students/manageCourses" method="POST">
				<input type="hidden" name="courseID" value="<%=courses[i].id%>"/>
			<% if (esta) { %>
				<input type="hidden" name="add" value="no"/>
				<button class="btn btn-default" type="submit">Descartar</button>
			<% }else{ %>
				<input type="hidden" name="add" value="yes"/>
				<button class="btn btn-default" type="submit">Seleccionar</button>
			<% } %>
			</form></td>
		</tr>
	<% } %>
<% } %>
<tr><td colspan="4"><hr></td><td colspan="5">3º - 2 cuatrimestre - Computación</td><td colspan="2"><hr></td></tr>
<% var i; for (i=0; i<courses.length; i++) { %>
	<% if(courses[i].year == "3º" && courses[i].semester == "2º" && courses[i].specialisation == "C"){ %>
			<% 	var inscritos=[0, 0, 0, 0, 0];
				for (var k=0; k<courses[i].Students.length; k++) {
					inscritos[courses[i].Students[k].year]++;
				}
				var esta=false;

				var pos=0;
		 		var c; for (c=0; c< userCourses.length; c++) {
				if (userCourses[c].CourseId== courses[i].id) {
					esta=true;
					pos=c;
				 }
			 }

			 if (esta) {
			 	if (courses[i].Students.length > courses[i].vacancies){ %>
					<tr class="alert alert-danger">
				<% }else  {%>
					<tr class="alert alert-success">
				<% } %>
			<% }else{ %>
				<tr class="alert alert-info">
			<% } %>


			<td><%=courses[i].name%></td>
			<td><%=courses[i].year%></td>
			<td><%=courses[i].semester%></td>
			<td><%=courses[i].specialisation%></td>
			<td><%=courses[i].credits%></td>
			<td><%=courses[i].vacancies%></td>
			<td><%=inscritos[2]%></td>
			<td><%=inscritos[3]%></td>
			<td><%=inscritos[4]%></td>
			<td><%=courses[i].description%></td>
			<td><form action="/students/manageCourses" method="POST">
				<input type="hidden" name="courseID" value="<%=courses[i].id%>"/>
			<% if (esta) { %>
				<input type="hidden" name="add" value="no"/>
				<button class="btn btn-default" type="submit">Descartar</button>
			<% }else{ %>
				<input type="hidden" name="add" value="yes"/>
				<button class="btn btn-default" type="submit">Seleccionar</button>
			<% } %>
			</form></td>
		</tr>
	<% } %>
<% } %>
<tr><td colspan="4"><hr></td><td colspan="5">4º - 1 cuatrimestre</td><td colspan="2"><hr></td></tr>
<% var i; for (i=0; i<courses.length; i++) { %>
	<% if(courses[i].year == "4º" && courses[i].semester == "1º"){ %>
			<% 	var inscritos=[0, 0, 0, 0, 0];
				for (var k=0; k<courses[i].Students.length; k++) {
					inscritos[courses[i].Students[k].year]++;
				}
				var esta=false;

				var pos=0;
		 		var c; for (c=0; c< userCourses.length; c++) {
				if (userCourses[c].CourseId== courses[i].id) {
					esta=true;
					pos=c;
				 }
			 }

			 if (esta) {
			 	if (courses[i].Students.length > courses[i].vacancies){ %>
					<tr class="alert alert-danger">
				<% }else  {%>
					<tr class="alert alert-success">
				<% } %>
			<% }else{ %>
				<tr class="alert alert-info">
			<% } %>


			<td><%=courses[i].name%></td>
			<td><%=courses[i].year%></td>
			<td><%=courses[i].semester%></td>
			<td><%=courses[i].specialisation%></td>
			<td><%=courses[i].credits%></td>
			<td><%=courses[i].vacancies%></td>
			<td><%=inscritos[2]%></td>
			<td><%=inscritos[3]%></td>
			<td><%=inscritos[4]%></td>
			<td><%=courses[i].description%></td>
			<td><form action="/students/manageCourses" method="POST">
				<input type="hidden" name="courseID" value="<%=courses[i].id%>"/>
			<% if (esta) { %>
				<input type="hidden" name="add" value="no"/>
				<button class="btn btn-default" type="submit">Descartar</button>
			<% }else{ %>
				<input type="hidden" name="add" value="yes"/>
				<button class="btn btn-default" type="submit">Seleccionar</button>
			<% } %>
			</form></td>
		</tr>
	<% } %>
<% } %>
<tr><td colspan="4"><hr></td><td colspan="5">4º - 2 cuatrimestre</td><td colspan="2"><hr></td></tr>
<% var i; for (i=0; i<courses.length; i++) { %>
	<% if(courses[i].year == "4º" && courses[i].semester == "2º"){ %>
			<% 	var inscritos=[0, 0, 0, 0, 0];
				for (var k=0; k<courses[i].Students.length; k++) {
					inscritos[courses[i].Students[k].year]++;
				}
				var esta=false;

				var pos=0;
		 		var c; for (c=0; c< userCourses.length; c++) {
				if (userCourses[c].CourseId== courses[i].id) {
					esta=true;
					pos=c;
				 }
			 }

			 if (esta) {
			 	if (courses[i].Students.length > courses[i].vacancies){ %>
					<tr class="alert alert-danger">
				<% }else  {%>
					<tr class="alert alert-success">
				<% } %>
			<% }else{ %>
				<tr class="alert alert-info">
			<% } %>


			<td><%=courses[i].name%></td>
			<td><%=courses[i].year%></td>
			<td><%=courses[i].semester%></td>
			<td><%=courses[i].specialisation%></td>
			<td><%=courses[i].credits%></td>
			<td><%=courses[i].vacancies%></td>
			<td><%=inscritos[2]%></td>
			<td><%=inscritos[3]%></td>
			<td><%=inscritos[4]%></td>
			<td><%=courses[i].description%></td>
			<td><form action="/students/manageCourses" method="POST">
				<input type="hidden" name="courseID" value="<%=courses[i].id%>"/>
			<% if (esta) { %>
				<input type="hidden" name="add" value="no"/>
				<button class="btn btn-default" type="submit">Descartar</button>
			<% }else{ %>
				<input type="hidden" name="add" value="yes"/>
				<button class="btn btn-default" type="submit">Seleccionar</button>
			<% } %>
			</form></td>
		</tr>
	<% } %>
<% } %>

</table>
</div>
