<table class="table">
	<tr>
		<th>Nombre del curso</th>
		<th>Especializacion</th>
		<th>credito</th>
		<th>Plazas</th>
		<th>Detalles</th>
		<th>Aputarse</th>
	</tr>
<% var i; for (i=0; i<courses.length; i++) { %>
	<tr>
	<% 	var esta=false;
 		var c; for (c=0; c< userCourses.length; c++) { 
		if (userCourses[c].id== courses[i].id) {
			esta=true; 
		 } 	
	 }	
	
	if (esta) { %>
	<tr class="alert alert-success">
	<% }else{ %>
	<tr class="alert alert-info">
	<% } %>	
		
	<td><%=courses[i].name%></td>
	<td><%=courses[i].specialisation%></td>
	<td><%=courses[i].credits%></td>
	<td><%=courses[i].vacancies%></td>
	<td><%=courses[i].description%></td>

	<td><form action="/students/manageCourses" method="POST">
		<input type="hidden" name="courseID" value="<%=courses[i].id%>"/>
	<% if (esta) { %>
		<input type="hidden" name="add" value="no"/>
		<button class="btn btn-default" type="submit">Desapuntarse</button>		
	<% }else{ %>
		<input type="hidden" name="add" value="yes"/>
		<button class="btn btn-default" type="submit">Apuntarse</button>
	<% } %>	
	</form></td>
</tr>
<% } %>
</table>