	<div class="panel panel-default">
		<div class="panel-heading">Registrarse</div>
		<div class="panel-body">
			<div>
				<form method='post' name="registro" id="registro" action='students' onsubmit="return validar();" >
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-4">
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label for="name">Nombre: </label>
										</div>
										<div class="col-md-6">
											<input autofocus required class="form-control" type="text" name="name" placeholder="Nombre" id="name" value="<%= student.name %>" pattern="(^[a-zA-Z ñÑáéíóúÁÉÍÓÚ]{1,20}$)" data-toggle="tooltip" data-placement="right" title="Solo letras, no admite caracteres especiales ni numéricos."/>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-md-6">
											<label for="lastname">Apellido: </label>
										</div>
										<div class="col-md-6">
											<input class="form-control" required type="text" name="lastname" id="lastname" value="<%= student.surname %>" placeholder="Apellido" pattern="(^[a-zA-Z ñÑáéíóúÁÉÍÓÚ]{1,20}$)" data-toggle="tooltip" data-placement="right" title="Solo letras, no admite caracteres especiales ni numéricos."/>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-md-6">
											<label for="email">Correo Electrónico: </label>
										</div>
										<div class="col-md-6">
											<input class="form-control" required type="text" pattern="(^([a-zA-Z])+(\d{3})+\@ikasle.ehu.e(u)?s$)" placeholder="tuCorreo@ikasle.ehu.eus" name="email" id="email" value="<%= user.email %>" data-toggle="tooltip" data-placement="right" title="Debe ser un correo válido de la UPV/EHU."/>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-md-6">
											<label for="pass">Contraseña: </label>
										</div>
										<div class="col-md-6">
											<input class="form-control" required type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="text" placeholder="Contraseña" name="password" id="password" data-toggle="tooltip" data-placement="right" title="Longitud mínima de 8 caracteres, debe contener al menos una mayúscula, una minúscula y un número."/>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-md-6">
											<label for="pass2">Repetir Contraseña: </label>
										</div>
										<div class="col-md-6">
											<input class="form-control" required type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="text" placeholder="Repite Contraseña" name="password1" id="password1" data-toggle="tooltip" data-placement="right" title="Las contraseñas deben ser iguales."/>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-md-6">
											<label for="year1">Año que voy a cursar: </label>
										</div>
										<div class="col-md-6">
											<input required name="year" id="year" value="<%= student.year %>" class="form-control" type="number" min="3" max="4" placeholder="Año" data-toggle="tooltip" data-placement="right" title="El año a cursar debe ser 3 o 4"/>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-md-6">
											<label for="nota">Nota media: </label>
										</div>
										<div class="col-md-6">
											<input required name="avg" id="avg" value="<%= student.avgGrade %>" class="form-control" type="text" placeholder="Nota media" data-toggle="tooltip" data-placement="right" title="Debe ser un número entre 0.0 y 10.0"/>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-md-6">
											<label for="credito">Créditos: </label>
										</div>
										<div class="col-md-6">
											<input required name="credits" id="credits" value="<%= student.credits %>" class="form-control" type="number" min="0" max="240" placeholder="Créditos" data-toggle="tooltip" data-placement="right" title="El número de créditos debe ser entre 0 y 240">
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-md-6">
											<label for="esp">Especialización: </label>
										</div>
										<div class="col-md-6">
											<select class="form-control" id="specialisation" name="specialisation">
												<option value="C" <% if (student.specialisation === "C") { %> selected <% } %> >Computación</option>
												<option value="IC" <% if (student.specialisation === "IC") { %> selected <% } %> >Ingeniería de Computadores</option>
												<option value="IS" <% if (student.specialisation === "IS") { %> selected <% } %> >Ingeniería del Software</option>
											</select>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="checkbox">
					       					<label for="condiciones">
					       						<input type="checkbox" id="condiciones" name="condiciones" value="aceptado" required   />
					       						He leído y acepto los <a href="/terms">términos y condiciones de uso</a>.
					   						</label>
										</div>
									</div>
									<hr>
									<div class="row">
										<input class="btn btn-default" type="submit"  value="Registrarse"  />
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		</div>
	</div>
